
body{
    font-family: "Plus Jakarta Sans",sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height:100wh;
}
.navbar{
    height:5rems;
    background-color: white;
}
.fa-compass{
    color:#fe424d;
}
.nav-link{
    color:#222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links{
    width:100%;

}
.f-info-socials{
    width:100%;
    font-size:1.2rem;

}
.f-info-links,
.f-info-socials, .f-info-brand{
    width:100%;
    display: flex;
    align-items: center;
     justify-content: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right:1rem;

}
.f-info{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
/* cards */
.listing-card{
    border:none !important;
    margin-bottom:2rem;
}
.card-img-top{
    border-radius:1rem !important;
    width:100%;
    object-fit: cover m !important;
}
.card-body{
    padding:0 !important;
}
.card-text p{
    font-weight:400;
}

.listing{
text-decoration: none;
}
/* card effect */
.card-img-overlay{
opacity: 0;
}
.card-img-overlay:hover{
    background-color: white; 
    opacity: 0.2;
}
.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}
/* edit page */
.edit-btn{
    background-color: #fe424d !important;
    border:none !important;
}
/* link */
.show-img{
    height:30vh;
}
.btns{
    display: flex;

   
}
.listing-link{
    text-decoration: none;
}
.container{
    flex:1;
}
.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}
/* show page
 */
 .show-img{
    height:40vh;
 }
.show-card{
    padding-left:0;
    padding-right:0;
}
/* .alert .btn-close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
} */
/* map */
#map { 
   height:400px;
   width:80vh;
}